.body{
    color: #000;
}
.view-page {
  padding: 40px;
  background: #fff;
  color: #000;
}

/* CATEGORY */
.category-title {
  display: inline-block;
  border: 2px solid #00000026;
  padding: 8px 20px;
  margin: 30px 0 20px;
  font-size: 18px;
  color: #000;
  border-radius: 15px
}

/* ROW */
.row-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.arrow {
  font-size: 22px;
  cursor: pointer;
  background: none;
  border: none;
}

/* MEDIA ROW */
.media-row {
  display: flex;
  gap: 25px;
  overflow-x: auto;
}

/* CARD */
.media-card {
  position: relative;
  width: 160px;
  text-align: center;
}

.media-card img,
.media-card video {
  width: 160px;
  height: 110px;
  object-fit: cover;
  background: #ccc;
}

/* EDIT ICON */
.edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}

/* FILE NAME */
.file-name {
  margin-top: 8px;
  font-size: 14px;
  overflow: auto;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 8px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-actions .save {
  background: #000;
  color: #fff;
}
